@font-face {
  font-family: "cocogosse";
  src: url("../../fonts/cocogoose/CocogoosePro-trial.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "cocogosse";
  src: url("../../fonts/cocogoose/CocogooseProItalic-trial.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "cocogosse";
  src: url("../../fonts/cocogoose/CocogooseProLight-trial.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "cocogosse";
  src: url("../../fonts/cocogoose/CocogooseProLight-Italic-trial.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media screen and (min-width: 0px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "cocogosse", sans-serif, Helvetica;
  font-weight: 400;
  font-size: 1.5em;
}

h1, h2, h3 {
  font-weight: 400;
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 0px) {
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    flex-grow: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-1-desktop {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-desktop {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-desktop {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-desktop {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-desktop {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-desktop {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-desktop {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-desktop {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-desktop {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-desktop {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-desktop {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-desktop {
    flex-grow: 0;
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
}

header .upper-bar {
  display: none;
}

header .menu-button {
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
header .menu-button:hover {
  transform: scale(1.1);
}
header .menu-button span {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #272a31;
  transition: all 0.5s ease-in;
}
header .menu-button span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #272a31;
  transition: all 0.5s ease-in;
}
header .menu-button span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 80%;
  height: 3px;
  border-radius: 2px;
  background-color: #272a31;
  transition: all 0.5s ease-in;
}
header .menu-button span.open {
  transform: rotate(720deg);
  background: transparent;
}
header .menu-button span.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
header .menu-button span.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
  width: 100%;
}

header .low-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  header .upper-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    background-color: #272a31;
  }
  header .upper-bar ul {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  header .upper-bar ul li {
    display: inline-block;
  }
  header .upper-bar ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: white;
    transition: all 0.5s ease-in;
  }
  header .upper-bar ul li a:hover {
    background-color: hsl(9deg, 82%, 59%);
  }
  header .menu-button {
    display: none;
  }
  header .low-bar {
    display: flex;
  }
}
.welcome-section {
  background: url("../../images/background/welcome_mobile.png") no-repeat;
  background-size: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.welcome-section .stars-container {
  position: relative;
  height: 100%;
}
.welcome-section .stars-container .stars {
  max-width: fit-content;
  width: 10%;
  height: auto;
  filter: grayscale(100%);
  animation: full-color 15s ease-in-out 2s infinite normal forwards;
}
.welcome-section .stars-container .star-1 {
  position: absolute;
  top: 15%;
  left: 60%;
  animation-delay: 3s;
}
.welcome-section .stars-container .star-2 {
  position: absolute;
  top: 30%;
  left: 15%;
  animation-delay: 6s;
}
.welcome-section .stars-container .star-3 {
  position: absolute;
  top: 45%;
  left: 80%;
  animation-delay: 9s;
}
.welcome-section .stars-container .star-4 {
  position: absolute;
  top: 60%;
  left: 5%;
  animation-delay: 12s;
}
.welcome-section .stars-container .star-5 {
  position: absolute;
  top: 75%;
  left: 70%;
  animation-delay: 15s;
}
.welcome-section article {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 5%;
  min-width: 450px;
  max-width: 1000px;
  width: 90%;
}
.welcome-section article h1 {
  font-size: 1.2em;
  font-weight: 400;
  color: hsl(9deg, 82%, 59%);
  margin-bottom: 5px;
}
.welcome-section article h2 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  background-size: 200%;
  background-position: right top;
  background-image: url("../../images/background/firered.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 5s ease-out;
}
.welcome-section article h2:hover {
  background-position: left bottom;
}
.welcome-section article p:nth-of-type(1) {
  font-family: "lato", Helvetica;
  font-size: 1em;
  font-weight: 600;
  line-height: 30px;
  background-color: rgb(226, 225, 225);
  border: 1px solid #d3d3d3;
  box-shadow: 5px 5px 10px 5px #d3d3d3, -1px -1px 5px 2px #d3d3d3;
  margin: 30px 0;
  padding: 20px;
}
.welcome-section article h3 {
  font-family: "lato", Helvetica;
  font-weight: 900;
  color: #272a31;
  margin: 20px 10px;
}
.welcome-section article p:nth-of-type(2) {
  font-family: "lato", Helvetica;
  font-size: 1em;
  font-weight: 600;
  color: #272a31;
}

@keyframes full-color {
  0% {
    filter: grayscale(100%);
  }
  /* Finish changes by here */
  10% {
    filter: grayscale(0%);
  }
  20% {
    filter: grayscale(100%);
  }
}
.main-program {
  background-color: #272a31;
  background-image: url("../../images/background/pattern.png");
  height: fit-content;
  text-align: center;
  padding: 20px 0;
}
.main-program h2:first-child {
  color: rgb(226, 225, 225);
  font-weight: 400;
}
.main-program hr {
  display: inline-block;
  border-color: hsl(9deg, 82%, 59%);
  width: 80px;
}

.card-program {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "lato", Helvetica;
  background-color: rgba(55, 57, 63, 0.39);
  margin: 10px;
  height: 150px;
  padding: 0 1%;
}
.card-program img {
  max-width: fit-content;
  min-width: fit-content;
  padding: 0 1%;
  width: 20%;
}
.card-program h3 {
  width: 30%;
  padding-left: 2%;
  color: hsl(9deg, 82%, 59%);
  font-weight: 900;
  font-size: 1em;
}
.card-program p {
  width: 50%;
  font-size: 1em;
  color: rgb(226, 225, 225);
  text-align: start;
}
@media screen and (min-width: 768px) {
  .card-program {
    flex-direction: column;
  }
}

.btn-style-1, .btn-1 {
  background-color: hsl(9deg, 82%, 59%);
  font-family: "lato", Helvetica;
  color: rgb(226, 225, 225);
  font-weight: 600;
  padding: 20px;
  width: fit-content;
  display: inline-block;
  transition: all 0.5s linear;
}
.btn-style-1:hover, .btn-1:hover {
  background-color: hsl(6deg, 82%, 45%);
}

.btn-1 {
  margin: 10px 0px;
}

/*# sourceMappingURL=style.css.map */
