/// -----------------------------------------------------------------------
/// Created by Luis David Rodriguez Valades 25/07/2022
/// General resets and configs
/// -----------------------------------------------------------------------
@use '../1_abstracts/variables' as v;
@use '../1_abstracts/functions' as f;
@use '../1_abstracts/mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  @include mixin.base {
    font-size: 12px;
  }

  @include mixin.small {
    font-size: 14px;
  }

  @include mixin.desktop {
    font-size: 16px;
  }

  @include mixin.large {
    font-size: 18px;
  }

}

body {
  font-family: v.$font-cocogosse;
  font-weight: f.get-font-weight('normal');
  font-size: f.get-font-size('normal');
}

h1, h2, h3 {
  font-weight: f.get-font-weight('normal');
}

//yeah I get ride of that hideous padding once and for all for all my ul!!
ul {
  padding-inline-start: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  font-family: v.$font-lato;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}