.stars-container {
  position: relative;
  height: 100%;

  & .stars {
    max-width: 100px;
    min-width: 50px;
    width: 10%;
    height: auto;
    filter: grayscale(100%);
    animation: full-color 15s ease-in-out 2s infinite normal forwards;
  }

  @for $i from 1 through 5 {
    & .star-#{$i} {
      position: absolute;
      top: 15%*$i;

      @if $i==1 {
        left: 60%;
      }

      @if $i==2 {
        left: 15%;
      }

      @if $i==3 {
        left: 80%;
      }

      @if $i==4 {
        left: 5%;
      }

      @if $i==5 {
        left: 70%;
      }

      animation-delay: $i*3s;
    }
  }
}

@keyframes full-color {
  0% {
    filter: grayscale(100%);
  }

  /* Finish changes by here */
  10% {
    filter: grayscale(0%);
  }

  20% {
    filter: grayscale(100%);
  }
}
