/// -----------------------------------------------------------------------
/// @author Luis David Rodriguez Valades 25/07/2022
/// -----------------------------------------------------------------------

$brand-colors: (
  'primary':          #272a31,
  'secundary':        #d3d3d3,
  'accent':           hsl(9, 82%, 59%),
  'accent-secundary': hsl(6, 82%, 45%),
  'natural':          rgb(226, 225, 225),
  'trans-primary':    rgba(55, 57, 63, 0.39),
);

$font-sizes: (
  'tiny':     0.6em,
  'smaller':  0.9em,
  'small':    1.2em,
  'normal':   1.5em,
  'big':      2em,
  'subtitle': 3em,
  'title':    4em,
);

$font-weights: (
  'thin':   100,
  'light':  200,
  'normal': 400,
  'bold':   600,
  'super':  900,
);

$break-points: (
  'xs':     0px,
  'sm':     480px,
  'medium': 768px,
  'lg':     960px,
  'xl':     1200px,
);

$z-index: (
  'modal':       200,
  'navigation':  100,
);

/// @type list to save time and write in one time the fallBack
$font-cocogosse: 'cocogosse', sans-serif, Helvetica;
$font-lato: 'lato', Helvetica;

$upper-bar-height: 40px;
