@use '../1_abstracts/functions' as f;
@use '../1_abstracts/variables' as v;
@use '../1_abstracts/mixin';

$top-mobil: 70px;

.about-welcome-section {
  background: url('#{v.$path-images}/background/welcome_mobile.png') no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  & article {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    align-self: center;
    top: $top-mobil;
    max-width: 1000px;
    width: 95%;
    text-align: center;

    & h1 {
      font-size: f.get-font-size('small');
      font-weight: f.get-font-weight('normal');
      color: f.get-color('accent');
      margin-bottom: 5px;
    }

    & h2 {
      font-family: v.$font-lato;
      font-size: f.get-font-size('title');
      font-weight: f.get-font-weight('super');
      text-transform: uppercase;
      color: f.get-color('accent');
    }

    & p:nth-of-type(1) {
      font-family: v.$font-lato;
      font-size: f.get-font-size('smaller');
      font-weight: f.get-font-weight('bold');
      line-height: 30px;
      background-color: transparentize($color: f.get-color('natural'), $amount: 0.1%) ;
      border: 1px solid f.get-color('secundary');
      box-shadow: 5px 5px 10px 5px f.get-color('secundary'), -1px -1px 5px 2px f.get-color('secundary'),;
      margin: 30px 0;
      padding: 20px;
    }

    & p:nth-of-type(2) {
      font-family: v.$font-lato; 
      font-size: f.get-font-size('small');
      font-weight: f.get-font-weight('normal');
      color: f.get-color('primary');
      margin: 20px 10px;
    }

    & a {
      color: f.get-color('primary');
      font-weight: f.get-font-weight('bold');
      text-decoration: underline;
      transition: all 0.3s linear;

      &:hover {
        color: f.get-color('accent');
        transform: scale(1.01);
      }
    }

  }

  @include mixin.desktop {
    & {
      scroll-margin-top: v.$upper-bar-height + v.$low-bar-height;
    }

    & article {
      top: $top-mobil + v.$upper-bar-height + v.$low-bar-height;
    }
  }
}