@use '../1_abstracts/functions' as f;
@use '../1_abstracts/variables' as v;
@use '../1_abstracts/mixin';

footer {
  & .sponsors-container {
    text-align: center;
    padding: 50px 0;
    background-color: f.get-color('primary');
    height: 50vh;

    & .title {
      color: f.get-color('secundary');
    }

    & .img-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      flex-basis: 100px;

      & img {
        padding: 10px;
        display: block;
        width: 33%;
        min-width: 150px;
        max-width: 300px;
      }
    }
  }

  & .rights-container {
    display: flex;
    padding: 20px;
    height: 30vh;
    justify-content: center;
    align-items: center;

    & img {
      display: block;
      width: 30%;
      max-width: 250px;
    }

    & .info-container {
      padding: 2%;

      & .text-1 {
        margin-bottom: 10px;
        font-family: v.$font-lato;
        font-size: f.get-font-size('smaller');
        font-weight: f.get-font-weight('bold');
        max-width: 400px;
      }

      & .text-2 {
        font-family: v.$font-lato;
        font-size: f.get-font-size('tiny');
        font-weight: f.get-font-weight('light');
        max-width: 400px;
      }
    }
  }

  @include mixin.desktop {
    scroll-margin-top: v.$upper-bar-height + v.$low-bar-height;
  }
}
