/// -----------------------------------------------------------------
/// @author Luis David Rodriguez Valades
/// -----------------------------------------------------------------
///
/// documentation for understand the animation
/// =====> https://ibritech.atlassian.net/wiki/external/231374901/ZDQxY2E1YzY3MjAzNDRjN2FiOWYzZTkyYmEwNDc0OTM?atlOrigin=eyJpIjoiZmUxNTVjY2NkMDM3NDBjZWFjNjViZTgxMDI5NGRhYWMiLCJwIjoiYyJ9
///
/// a little complicated trying to match the timer only one star should shine at the time
/// =====> https://css-tricks.com/a-new-way-to-delay-keyframes-animations/
///


@use '../1_abstracts/functions' as f;
@use '../1_abstracts/variables' as v;
@use '../1_abstracts/mixin';

$top-mobil: 70px;

.welcome-section {
  background: url('/images/background/welcome_mobile.png') no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  & article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $top-mobil;
    left: 5%;
    max-width: 1000px;
    width: 90%;

    & h1 {
      font-size: f.get-font-size('small');
      font-weight: f.get-font-weight('normal');
      color: f.get-color('accent');
      margin-bottom: 5px;
    }

    & h2 {
      font-family: v.$font-lato;
      font-size: f.get-font-size('title');
      font-weight: f.get-font-weight('super');
      text-transform: uppercase;
      color: transparent;
      background-image: url('../images/background/firered.jpg');
      background-size: 200%;
      background-position: right top;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-position 15s ease-out;

      &:hover {
        background-position: left bottom;
      }
    }

    & p:nth-of-type(1) {
      font-family: v.$font-lato;
      font-size: f.get-font-size('smaller');
      font-weight: f.get-font-weight('bold');
      line-height: 30px;
      background-color: transparentize($color: f.get-color('natural'), $amount: 0.1%) ;
      border: 1px solid f.get-color('secundary');
      box-shadow: 5px 5px 10px 5px f.get-color('secundary'), -1px -1px 5px 2px f.get-color('secundary'),;
      margin: 30px 0;
      padding: 20px;
    }

    & p:nth-of-type(2) {
      font-family: v.$font-lato; 
      font-size: f.get-font-size('big');
      font-weight: f.get-font-weight('super');
      color: f.get-color('primary');
      margin: 20px 10px;
    }

    & p:nth-of-type(3) {
      font-family: v.$font-lato;
      font-size: f.get-font-size('smaller');
      font-weight: f.get-font-weight('bold');
      color: f.get-color('primary');
    }

  }

  @include mixin.desktop {
    & {
      scroll-margin-top: v.$upper-bar-height + v.$low-bar-height;
    }

    & article {
      top: $top-mobil + v.$upper-bar-height + v.$low-bar-height;
    }
  }
}